{{!-- <form id="filterForm">
  <div class="filter-group">
    <h3>Brands</h3>
    <label><input type="checkbox" name="brand" value="Brand A" />
      Brand A</label>
    <label><input type="checkbox" name="brand" value="Brand B" />
      Brand B</label>
    <label><input type="checkbox" name="brand" value="Brand C" />
      Brand C</label>
    <label><input type="checkbox" name="brand" value="Brand D" />
      Brand D</label>
    <label><input type="checkbox" name="brand" value="Brand E" />
      Brand E</label>
    <label><input type="checkbox" name="brand" value="Brand F" />
      Brand Not Exsisted</label>
  </div>

  <div class="filter-group">
    <h3>Types</h3>
    <label><input type="checkbox" name="type" value="Electronics" />
      Electronics</label>
    <label><input type="checkbox" name="type" value="Clothing" />
      Clothing</label>
    <label><input type="checkbox" name="type" value="Home Appliances" />
      Home Appliances</label>
  </div>

  <button type="submit">Apply Filters</button>
</form> --}}
{{> productFilter}}
{{> productGallery}}
{{!-- <div class="product-gallery">
  {{#each products}}
    <div class="product">
      <img src="{{this.imageUrl}}" alt="{{this.name}}" />
      <h3>{{this.name}}</h3>
      <p>${{this.price}}</p>
      <form action="/favorites/add/:productId" method="post">
        <input type="hidden" name="productId" value="{{this._id}}" />
        <button type="submit">Add to Favorites</button>
      </form>
    </div>

  {{/each}}
</div>

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="/products?page={{decrement currentPage}}">Previous</a>
  {{else}}
    <button disabled>Previous</button>
  {{/if}}

  {{#if hasNextPage}}
    <a href="/products?page={{increment currentPage}}">Next</a>
  {{else}}
    <button disabled>Next</button>
  {{/if}}
</div> --}}
